.first{
border-style:solid;
border-color:black;
background-color:#42d4f4;}

.seccond{
border-style:solid;
border-color:black;
background-color:#66ffff;}

.third{
border-style:solid;
border-color:black;
background-color:#42d4f4;}

.fourth{
border-style:solid;
border-color:black;
background-color:#66ffff;}


h3{color:black}

p{color:#f44242}
